header {
  padding: 1rem 0;
  background: $primary;
  color: white;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > a {
      font-size: 24px;
      font-weight: 700;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;

      li {
        display: inline-block;
        margin-left: 1rem;
        font-size: 18px;
        font-weight: 400;
        transition: all 0.2s ease;
        text-align: right;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
